* {
  margin: 0;
}

nav {
  background-color: hsl(200, 4%, 16%);
  padding: 10px;
  position: fixed;
  top: 0;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 7px;
  padding: 5px;
}

a.hover,
a.active {
  border-bottom: 5px solid white;
}

nav input[type="search"] {
  float: right;
  padding: 6px;
  margin-top: 5px;
  margin-right: 16px;
  border: none;
  outline: 0;
}

/*
nav a:first-child{
    border-bottom:  5px solid white;
}*/
